.game{
    color: blue;
    background-color: hotpink;
}

.title{
    color: greenyellow;
    background-color: indigo;
}
.item{
    color: firebrick;
    background-color: gold;
}
.box{
    color: aqua;
    background-color: chartreuse;
}
body{
    background-color:rgb(196, 245, 18);
}
.bird{
    color: lightgreen;
    background-color: rgb(247, 15, 15);
}